{
    email alex.norgaard@gmail.com
}

app.alexnorgaard.dk {
    handle_path /api/* {
        uri strip_prefix /api
        reverse_proxy localhost:8080
    }
    handle_path /files/* {
        uri strip_prefix /files
        reverse_proxy localhost:9000
    }
    handle_path /minio/ui/* {
        uri strip_prefix /minio/ui
        reverse_proxy localhost:9001
    }
}